@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #333;
}

/* 탑버튼 */

.top-btn{
    position: fixed;
    /* top: -header.height; */
    width: 100%;
    transition: top 0.5s;

    right: 30px;
    bottom: 400px;
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px 0px 12px 2px #acacac;
    border-radius: 10px;
    background-color: #ffffff;
    z-index: 99999;
}
.top-btn a{
    width: 30px;
    height: 30px;
    margin: 10px;
}
.top-btn a img{
    width: 100%;
    height: 100%;
}

/* 전체 레이아웃 */
.wrap{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* 헤더 */

.header{
    
    width: 100%;
    height: 200px;
    display: fixed;
    position: relative;
    z-index: 999;
    box-shadow: 0 5px 5px -5px #686868;
    /* background-color: aqua; */
}

.header-inner{
    width: 100%;
    max-width: 1210px;
    height: 100%;
    /* background-color: aquamarine; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.header-inner > a{
    width: 300px;
    height: 56px;
    display: block;
    margin: auto;
}

.header-inner img{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    display: block;
    margin: auto;
}
.icons{
    display: none;
    
}
.icons > a{
    padding: 7px;
}
.icons a img {
    width: 20px;
    height: auto;
}

.menu_bar_list{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    /* box-shadow: -1px 1px 4px #686868; */
    /* box-shadow: 0 1px 8px #bdbdbd; */
    box-shadow: -5px 5px 5px -5px #686868;
    position: absolute;
    top: 100%;
    right: 0%;
    width: 43%;
    background-color: #fff;
    padding: 7px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    
    
}

.menu_bar_list li:nth-child(1){
    padding: 4px;
}

.mypage{
    padding-top: 10px;
}
.mypage a{
    width: 4px;
    height: 4px;
}
.mypage a b{
    color: #235E88;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.navi{
    position: relative;
    width: 100%;
    
    /* background-color: beige; */
}


.menu{
    position: relative;
    display: flex;
    /* margin: 0 auto; */
    width: 100%;
    height: 70px;
    
    
}

.head-menu{
    width: 100%;
    margin: auto;
    position: relative;
    
    /* background-color: bisque; */

}

.head-menu > a{
    width: 100%;
    padding: 10%;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.depth2 {
    width: 100%;
    /* width: 100px; */
    position: absolute;
    display: none;
    top: 45px;
    left: 0;
    /* text-align: center; */
    /* width: px; */
    /* height: 50px; */
    background-color: #ffffff;
    box-shadow: 0 5px 5px -5px #686868;
}

.depth2 li{
    width: calc(100% / 4);
    padding: 10px;
}

.depth2 li a{
    padding: 10px;
}
.depth2.hover {
    display: block;
}
/* .head-menu:hover .depth2 {
    display: block;
} */

/* 슬라이드쇼 */

.slideshow{
    width: 100%;
    max-width: 1210px;
    height: auto;
    margin: auto;
    overflow: hidden;
    /* background-color: aqua; */
}

.slideshow > ul{
    width: 100%;
    height: 100%;
}

.swiper-slide{
    width: 100%;
    height: 100%;
}

.swiper-slide a{
    max-width: 100%;
    width: 100%;
    height: auto;
    
}

.slideshow a img{
    width: 100%;
    height: auto;
}

.slide320{
    display: none;
}

.slide768{
    display: none;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{

    left: -242px;
    bottom: 50px;
}

.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    border: 3px solid #235E88 ;
    background-color: #ffffff;
}
/* .swiper-pagination-bullet-active{
    width: 12px;
    height: 12px;
    background-color: aquamarine;
    border: 3px solid #235E88 ;
} */
    

/* 프로모션 */

.promotion{
    width: 100%;
    max-width: 1210px;
    margin: auto;
    /* background-color: aquamarine; */
}

/* 프로모션 상단 */
.promo-top{
    width: 100%;
    padding-bottom: 5%;
    /* height: 1125px; */
    position: relative;
    /* background-color: aqua; */
}

/* .promo-top > img{
    width: 520px;
    height: 128px;
    display: block;
    margin: 100px auto;
} */

.top_img{
    width: 40%;
    margin: 8% auto;
    /* background-color: chartreuse; */
}
.top_img img{
    width: 100%;
}


.promo-main{
    width: 100%;
    /* height: 63.5vw; */
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 25px;
    /* background-color: turquoise; */
}

.promo-textbox{
    display: block;
    width: 40%;
    /* height: auto; */
    padding: 4%;
    background-color: #fff;
    border: 1px solid #333;
    box-shadow: 0 0 5px #333;
    /* min-width: 10%; */
}



.promo-textbox h3{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
}
.promo-textbox.active{
    z-index: 99;
}

.promo-textbox p{
    
    font-size: 28px;
    line-height: 50px;
}

.promo-main a{
    width: 50%;
    display: block;
    /* margin: 0 auto; */
}

.promo-main a img{
    width: 100%;
    height: auto;
}

#main-span{
    display: none;
    text-align: right;
    /* background-color: antiquewhite; */
}

.promo-top > a{
    display: block;
    position: absolute;
    right: 13%;
    font-size: 18px;
    font-weight: bold;
    padding: 1% 2%;
    /* background-color: beige; */
}

/* 프로모션 하단 */

.promo-bottom{
    width: 100%;
    /* height: 600px; */
    /* background-color: rgb(145, 255, 169); */
    margin-top: 100px;
    position: relative;
}

.promo-inner{
    width: 100%;
    max-width: 1210px;
    height: 100%;
    /* background-color: azure; */
    margin: auto;
    position: relative;
}   

.promo-slide{
    position: relative;
    width: 100%;
 max-width: 1210px;
 margin: auto;
 /* background-color: #80a4db; */
}



.promo-items a{
    width: 100%;
    display: block;
    /* margin: 40px auto; */
}
.promo-items a img{
    width: 100%;
}

.promo-items a span{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    padding: 3% 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* background-color: blanchedalmond; */
}

.promo-inner ul li a img{
   
}

.swiper-button-prev{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    scale: 30%;
    color: transparent;
    top: 33%;
    left: -8%;
    /* z-index: 9999; */
    cursor: pointer;
    display: block;
    background-image: url("../images/left_preview.png");

}

.swiper-button-next{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    scale: 30%;
    color: transparent;
    top: 33%;
    right: -8%;
    /* z-index: 9999; */
    cursor: pointer;
    background-image: url("../images/right_privew.png");
}


/* 가방랭킹 탑5 _스와이퍼2 */

.top-rank-area{
    width: 100%;
    /* height: 600px; */
    /* background-color: rgb(145, 255, 169); */
    margin-top: 50px;
    position: relative;
    margin-bottom: 20px;
}
.rank-main-logo{
    display: block;
    mix-blend-mode: multiply;
    width: 40%;
    margin: 0 auto 60px;
}
.top-rank-slide{
    position: relative;
    width: 100%;
 max-width: 1210px;
 margin: auto;
 /* background-color: #80a4db; */
}
.rank-inner{
    width: 100%;
    max-width: 1210px;
    height: 100%;
    /* background-color: azure; */
    margin: auto;
    position: relative;
}   
.rank-inner a{
    width: 100%;
   
}
.rank-img{
    display: block;
    width: 30vw;
    height: 38vw;
    /* box-shadow: 0 0px 1px 1px #686868; */
    box-shadow: 0 1px 8px #bdbdbd;
    /* box-shadow: 0px 0px 2px 1px #333; */
}
.rank-img img{
    width: 100%;
    height: 100%;
    /* max-width: 396px;
    max-height: 494px; */
}

.ranking-list{
    display: block;
    width: 100%;
}
.ranking-list a{
    width: 100%;
    /* min-width: 226px; */
    height: 100%;
    margin: auto;
    padding: 3% 0;

}
.ranking-list a span{
    /* background-color: #235E88; */
    display: block;
    text-align: center;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
}

.ranking-list a span br{
    display: none;
}

/* .rank-inner a .rank-img{

    width: 100%;
    height: 31.87vw;
    position: relative;
    overflow: hidden;
}
.rank-inner a .rank-img img{
    width: 100%;
    object-fit: cover; */


/* position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); */










/* 서비스란 */

.service-wrap{
    width: 100%;
    height: 243px;
    margin-top: 75px;
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
    /* background-color: aliceblue; */
}



.service-wrap img{
    width: 343px;
    height: 64px;
    mix-blend-mode: multiply;
}
.service-wrap .textbox{
    margin-top: 15px;
    padding: 0 20px;
    /* background-color: aquamarine; */
}

.service-wrap .textbox h3{
    font-size: 30px;
}

.service-wrap .textbox p{
    font-size: 26px;
    padding: 17px;
}

.line-change1, .line-change2{
    display: none;
}

.gift-bg{
    position: relative;
    width: 50%;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 8px #bdbdbd;
    text-align: center;
}

.gift-area{
    width: 100%;
}


.gift-area::after{
    content: "";
    position: absolute;
    width: 520px;
    height: 416px;
    top: -59px;
    right: -160px;
    scale: 25%;
    background: url("../images/gift_lmg.png");
}

.membership-bg{
    position: relative;
    width: 50%;
    height: auto;
    background-color: #80a4db;
    box-shadow: 0 0 8px #bdbdbd;
    text-align: center;
}
.membership-area{
    width: 100%;
}

.membership-area::after{
    content: "";
    position: absolute;
    width: 448px;
    height: 348px;
    top: -15px;
    left: -133px;
    scale: 25%;
    background: url("../images/membership_img.png");
}

/* 하단 */

.footer{
    width: 100%;
    /* max-width: 1210px; */
    height: 280px;
    background-color: #d9d9d9;
}

.footer-inner{
    display: flex;
    justify-content: space-around;
}

/* 하단 왼쪽 */
.footer-left{
    padding: 20px;
    /* margin-left: 60px; */
}
.footer-left img{
    width: 226px;
    mix-blend-mode: multiply;
    margin-bottom: 10px;
}

.footer-left p{
    width: 700px;
    height: 160px;
    white-space: wrap;
    font-size: 18px;
}

/* 하단 오른쪽*/

.footer-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;

}

.footer-right ul{
    display: flex;
    
    
}

.footer-right ul li{
    padding: 10px;
}
.footer-right ul li a{
    position: relative;
    font-size: 20px;
    /* font-weight: bold; */
    /* padding: 10px; */
    font-family: 'Times New Roman', Times, serif;
}
.footer-right ul li a::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 16px;
    top: 3px;
    left: -10px;
    background-color: #333;
}

.footer-right ul li:first-child a::after{
    content: none;
}

.footer-icons a{
    margin-left: 30px;
}

.footer-icons a img{
    width: 50px;
    height: 50px;
}

.copyright{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}