@charset "utf-8";


@media screen and (max-width : 1700px){
    .gift-area::after, .membership-area::after{
        scale: 0.2;
    }
   .service-wrap .textbox p{
        font-size: 20px;
    }

    
}

@media screen and (max-width : 1457px){
    /* .footer-right ul{
        width: 350px;
    } */
    .footer-right ul{
        flex-wrap: wrap;
        justify-content: flex-end;
}
.copyright{
    text-align: right;
}
}

@media screen and (max-width : 1393px){

    .line-change1, .line-change2{
        display: block;
    }

    .gift-area::after {
        top: -26px;
        right: -190px;
        /* scale: 0.12; */
    }
    
    
    .membership-area::after{
        top: 16px;
        left: -162px;
        /* scale: 0.12; */
    }




@media screen and (max-width : 1200px) {
    .promo-textbox p{
    
        font-size: 25px;
        line-height: 1.7;
    }
    .promo-textbox h3{
        font-size: 40px;
    }
}
@media screen and (max-width : 1000px) {
    
    .promo-textbox p{
    
        font-size: 22px;
        line-height: 1.5;
    }

    .promo-items a span {
        font-size: 18px;
    }

    .swiper-button-prev{
        scale: 27%;
    }
    .swiper-button-next{
        scale: 27%;
    }

    /* 서비스 구역 */
    .service-wrap{
        width: 100%;
        height: 200px;
    }
    
    .service-wrap img {
        width: 200px;
        height: auto;
    }


    .service-wrap .textbox h3 {
        font-size: 22px;
    }
    

    .service-wrap .textbox p{
        font-size: 16px;
    }

    .gift-area::after {
        scale: 0.12;
        top: -52px;
        right: -211px;
        /* top: -17px;
        right: -12px; */
    }
    .membership-area::after{
        scale: 0.12;
        top: -13px;
        left: -178px;
        /* top: 26px;
        left: 16px; */
        
    }

    .line-change1{
        display: none;
    }

    .footer-left p{
        width: 450px;
        height: 130px;
        white-space: wrap;
        font-size: 16px;
    }


}

}
@media screen and (max-width : 894px) {
    .promo-textbox p{
    
        font-size: 20px;
    }
    .promo-textbox h3{
        font-size: 35px;
    }

    .swiper-button-prev{
        scale: 22%;
        top: 26%;
    }
    .swiper-button-next{
        scale: 22%;
        top: 26%;
    }

}

@media screen and (max-width : 768px){
    /* 프로모션 메인탑 텍스트박스 */
    .promo-textbox p{
        font-size: 18px;
    }
    .promo-textbox h3{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .promo-top > a{
        font-size: 16px;
        right: 8%;
    }

    .promo-items a span {
        font-size: 16px;
    }
    
    
    /* 서비스 구역 */
     .service-wrap{
        width: 100%;
        height: 150px;
    }
     .service-wrap img {
        width: 160px;
        height: auto;
    }

    .service-wrap .textbox h3 {
        font-size: 18px;
    }
    

    .service-wrap .textbox p{
        font-size: 13px;
    }

    .gift-area::after {
        scale: 0.10;
        top: -173px;
        right: -216px;
        /* top: -17px;
        right: -12px; */
    }
    .membership-area::after{
        scale: 0.10;
        top: -137px;
        left: -182px;
        /* top: 26px;
        left: 16px; */
        
    }
    .line-change1,.line-change2{
        display: none;
    }

    .footer-left p{
        width: 380px;
        height: 120px;
        white-space: wrap;
        font-size: 12px;
    }
    /* .footer-right{
        line-height: 1.2;
    } */
    .footer-right ul li{
        padding: 0 7px;
    }
    .footer-right ul li a::after{
        content: "";
        position: absolute;
        width: 1px;
        height: 16px;
        top: 0px;
        left: -7px;
        background-color: #333;
    }
    .footer-right ul li a{
        font-size: 12px;
    }
    .footer-icons a{
        margin-left: 10px;
    }

    .footer-icons a img{
        width: 27px;
        height: auto;
    }
    .copyright{
        font-size: 12px;
    }
}

@media screen and (max-width : 768px){
    /* top버튼 */
    .top-btn{
        width: 30px;
        height: auto;
    }
    .top-btn a{
        width: 20px;
        height: 20px;
        margin: 8px;
    }
    /* 헤더 네비 */
    .head-menu > a{
        /* padding: 15% 10%; */
        font-size: 20px;
    }
    .head-menu:nth-child(3) > a{
        margin: 0 -8px;
    }

    /* .head-menu:nth-child(4) > a{
        margin: 0 15px;
    }
    .head-menu:nth-child(5) > a{
        margin: 0 -10px;
    } */

    .top_img{
        width: 70%;
    }
    .slide320{
        display: none;
    }
    .slide768{
        display: block;
    }
    .slide1920{
        display: none;
    }
}

@media screen and (max-width : 700px){
    /* 프로모션 탑 텍스트 */
    .promo-main{
        position: relative;
        height: 630px;
    }

    .promo-textbox{
        width: 50%;
        height: 70%;
        position: absolute;
        top: 16px;
        left: 78px;
    }
    .head-menu > a{
        /* padding: 15% 10%; */
        font-size: 18px;
    }
    .head-menu:nth-child(3) > a{
        margin: 0 -10px;
    }
    .depth2 li a{
        font-size: 15px;
    }
   

    #main-span{
        display: block;
        padding: 3px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }

    .promo-main > a {
        position: absolute;
        top: 130px;
        right: 60px;
    }
    .promo-top > a {
        display: none;
    }

    .promo-textbox p{
        font-size: 16px;
    }
    .promo-textbox h3{
        font-size: 24px;
        margin-bottom: 18px;
    }

    .promo-bottom{
        margin-top: 30px;
    }

    .swiper-button-prev{
        scale: 20%;
        top: 26%;
    }
    .swiper-button-next{
        scale: 20%;
        top: 26%;
    }

}



@media screen and (max-width : 668px){

    .service-wrap{
        width: 100%;
        height: auto;
        max-width: 1210px;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .service-wrap > a {
        width: 90%;
    }
    .gift-area::after {
        left: -216px;
    }

    .footer{
        margin-top: 60px;
    }
}

@media screen and (max-width : 640px){
    
    .header{
        height: 140px;
    }
    .header-inner{
        /* height: 0; */
        padding-top: 30px;
    }
    .header-inner img{
        width: 80%;
        height: auto;
    }
    .head-menu a{
        font-size: 16px;
    }

    .depth2{
        top: 35px;
    }
}

@media screen and (max-width : 600px){
    .promo-items a span {
        font-size: 14px;
    }

    .swiper-button-prev{
        scale: 20%;
        left: -70px;
        /* top: 26%; */
    }
    .swiper-button-next{
        scale: 20%;
        right: -70px;
        /* top: 26%; */
    }

    .footer{
        height: auto;
        padding-bottom: 20px;
        white-space: wrap;
    }

    .footer-inner{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .footer-right {
        align-items: center;
        gap: 15px;
    }
    .footer-right ul {
        justify-content: center;
    }
    .footer-right ul li{
        /* margin-top: 10px; */
    }

}



@media screen and (max-width : 562px){
    .head-menu > a{
        /* padding: 15% 10%; */
        font-size: 14px;
        /* padding: none; */
    }
    .head-menu:nth-child(3) > a{
        margin: 0 -10px;
    }

    .depth2 li a{
        font-size: 13px;
    }

    .promo-main{
        height: 540px;
    }

    .promo-textbox{
        width: 50%;
        height: 60%;
    }

    .promo-textbox p{
        font-size: 14px;
    }
    .promo-textbox h3{
        font-size: 22px;
        margin-bottom: 15px;
    }

    #main-span{
        font-size: 16px;
    }
}

@media screen and (max-width : 500px){
    .promo-textbox p{
        font-size: 13px;
    }
    .promo-textbox h3{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .promo-main{
        height: 500px;
    }

    #main-span{
        font-size: 15px;
    }
}

@media screen and (max-width : 460px){
    .top-btn{
        display: none;
    }
    .header{
        height: 100px;
    }
    .header-inner{
        flex-direction: row;
    }
    .header-inner > a{
        margin: 0;
    }

    .promo-main{
        height: 450px;
    }

    .promo-textbox{
        width: 60%;
        height: 65%;
    }
    .promo-main > a{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    #main-span{
        width: 100%;
        font-size: 14px;
        text-align: left;
    }
    .icons{
        display: flex;
        align-items: center;
        /* background-color: aqua; */
        width: 100px;
        height: 30px;
        margin-top: 10px;
        margin-right: 10px;
    }

    .icons a img{
        width: 100%;
    }
    .footer-left img{
        width: 134px;
        height: auto;
    }

    .navi{
        display: none;
    }
}

@media screen and (max-width : 420px){

    .swiper-button-prev{
        scale: 18%;
        left: -75px;
        /* top: 26%; */
    }
    .swiper-button-next{
        scale: 18%;
        right: -75px;
        /* top: 26%; */
    }
    .footer{
        /* width: 300px;
        white-space: wrap;
        height: 400px; */
    }
    .footer-left p{
        width: 300px;
    }

    .footer-right ul{
        width: 300px;
    }
}

@media screen and (max-width : 400px){
    .promo-textbox{
        width: 60%;
        height: 70%;
        left: 50px;
    }

    .promo-main{
        height: 430px;
    }

}

@media screen and (max-width : 360px){
    .service-wrap .textbox p{
        display: none;
    }
    .service-wrap .textbox{
        height: 120px;
    }
    .gift-area::after {
        right: 0px;
        top: -113px;
        scale: 0.09;
    }
    .membership-area::after{
        top: -75px;
        right: 0px;

        
    }


}


@media screen and (max-width : 350px){
    .promo-textbox{
        width: 65%;
        height: 70%;
        left: 30px;
    }
    .promo-main > a {
        position: absolute;
        top: 150px;
        right: 30px;
    }

    #main-span{
        font-size: 13px;
    }
    
}

@media screen and (max-width : 320px){
    .header{
        height: 55px;
    }
    .header-inner{

        padding-top: 10px;
    }

    .header-inner > a{
        padding-top: 5px;
        width: 180px;
    }

    .slide320{
        display: block;
    }
    .slide768{
        display: none;
    }
    .slide1920{
        display: none;
    }

    .top_img{
        width: 85%;
    }

    .swiper-button-prev{
        scale: 15%;
        left: -75px;
        top: 18%;
    }
    .swiper-button-next{
        scale: 15%;
        right: -75px;
        top: 18%;
    }

    .icons{
        padding-bottom:12px ;
    }
    .icons a{
        padding: 8px;
    }
    .promo-main{
        height: 410px;
    }
   .promo-inner{
    width: 80%;
   }

   .promo-items a span {
    font-size: 13px;
}

   .footer-inner{
    gap: 60px;
}
.footer-left p{
    width: 250px;
}

.footer-right ul{
    width: 250px;
}
}