@charset "utf-8";
@media screen and (max-width : 1200px) {
    .promo-textbox p{
    
        font-size: 25px;
        line-height: 1.7;
    }
    .promo-textbox h3{
        font-size: 40px;
    }
}
@media screen and (max-width : 1000px) {
    .promo-textbox p{
    
        font-size: 22px;
        line-height: 1.5;
    }
   
}
@media screen and (max-width : 894px) {
    .promo-textbox p{
    
        font-size: 20px;
    }
    .promo-textbox h3{
        font-size: 35px;
    }
}


@media screen and (max-width : 1155px) {
    .swiper-slide {
        width: 300px;


    }
}